@using System.Collections.Generic;


@model IEnumerable<Test>

<head>
</head>


<h2>Tests</h2>

<div style="display: block">
    <a href="/Test/InsertTest/">Input New Test Results</a>
</div>

<div class="table-container">
    <table class="table border-right">
    <thead>
        <tr>
            <th class="text-center">Date<br>(click number)</th>

            <th class="twoLineHeader align-bottom">CBC<br>WBC</th>
            <th class="twoLineHeader align-bottom">CBC<br>RBC</th>
            <th class="twoLineHeader align-bottom">CBC<br>HGB</th>
            <th class="twoLineHeader align-bottom">CBC<br>HCT</th>
            <th class="twoLineHeader align-bottom">CBC<br>MCV</th>
            <th class="twoLineHeader align-bottom">CBC<br>MCH</th>
            <th class="twoLineHeader align-bottom">CBC<br>MCHC</th>
            <th class="twoLineHeader align-bottom">CBC<br>RDW%</th>
            <th class="twoLineHeader align-bottom">CBC<br>PLT</th>
            <th class="twoLineHeader align-bottom">CBC<br>MPV</th>
            <th class="twoLineHeader align-bottom input-sm">CBC<br>%<br>Neutrophils</th>
            <th class="twoLineHeader align-bottom">CBC<br>Absolute<br>Neutrophils</th>
            <th class="twoLineHeader align-bottom">CBC<br>%<br>Lymphocytes</th>
            <th class="twoLineHeader align-bottom">CBC<br>Absolute<br>Lymphocytes</th>
            <th class="twoLineHeader align-bottom">CBC<br>%<br>Monocytes</th>
            <th class="twoLineHeader align-bottom">CBC<br>Absolute<br>Monocytes</th>
            <th class="twoLineHeader align-bottom">CBC<br>%<br>Eosinophils</th>
            <th class="twoLineHeader align-bottom">CBC<br>Absolute<br>Eosinophils</th>
            <th class="twoLineHeader align-bottom">CBC<br>%<br>Basophils</th>
            <th class="twoLineHeader align-bottom">CBC<br>Absolute<br>Basophils</th>
            <th class="twoLineHeader align-bottom">CMP<br>Glucose</th>
            <th class="twoLineHeader align-bottom">CMP<br>BUN</th>
            <th class="twoLineHeader align-bottom">CMP<br>Creatinine</th>
            <th class="twoLineHeader align-bottom">CMP<br>BUN<br>Creat<br>Ratio</th>
            <th class="twoLineHeader align-bottom">CMP<br>Sodium</th>
            <th class="twoLineHeader align-bottom">CMP<br>Potassium</th>
            <th class="twoLineHeader align-bottom">CMP<br>Chloride</th>
            <th class="twoLineHeader align-bottom">CMP<br>CO2</th>
            <th class="twoLineHeader align-bottom">CMP<br>Calcium</th>
            <th class="twoLineHeader align-bottom">CMP<br>Total<br>Protein</th>
            <th class="twoLineHeader align-bottom">CMP<br>Albumin</th>
            <th class="twoLineHeader align-bottom">CMP<br>Glob.Serum<br>Qn<br>Calc.G/DI</th>
            <th class="twoLineHeader align-bottom">CMP<br>A/G Ratio</th>
            <th class="twoLineHeader align-bottom">CMP<br>Total<br>Bilirubin</th>
            <th class="twoLineHeader align-bottom">CMP<br>Alkaline<br>Phosphatase</th>
            <th class="twoLineHeader align-bottom">CMP<br>AST</th>
            <th class="twoLineHeader align-bottom">CMP<br>ALT</th>
            <th class="twoLineHeader align-bottom">Lipid Panel<br>Cholesterol</th>
            <th class="twoLineHeader align-bottom">Lipid Panel<br>Triglycerides</th>
            <th class="text-center twoLineHeader align-bottom">Lipid Panel<br>HDL</th>
            <th class="twoLineHeader align-bottom">Lipid Panel<br>VLDL</th>
            <th class="twoLineHeader align-bottom">Lipid Panel<br>LDL</th>
            <th class="twoLineHeader align-bottom">Lipid Panel<br>Cholesterol<br>HDL<br>Ratio</th>
            <th class="twoLineHeader align-bottom">Lipid Panel<br>Cholesterol<br>Non<br>HDL</th>
            <th class="center align-bottom">Magnesium</th>
            <th class="center align-bottom">Tacrolimus</th>
            <th class="text-center align-bottom">Uric Acid Serum</th>
            <th class="text-center align-bottom">Phosphorus Serum</th>
            <th class="text-center align-bottom">PTH Intact</th>
            <th class="text-center align-bottom">Vitamin D</th>
            <th class="text-center align-bottom">Cystatin C<br>w/EstGFR Serum</th>
            <th class="text-center align-bottom">Free<br>T4</th>
            <th class="center align-bottom">TSH</th>
            <th class="text-center align-bottom">HgB A1C</th>


        </tr>
    </thead>

        @{
            var orderedModel = @Model.OrderByDescending(test => test.Date);
        }

    <tbody>
    @foreach (var test in orderedModel)
    {
        <tr>

            <td>
                <div style="width: 50px;">
                    <a href="/Test/ViewTest?number=@test.Number">@test.Number</a><br>@test.Date.ToString("M-d-yy")
                </div>
            </td>


            <td id="center" style="text-align: center;">@(test.CBC_WBC.HasValue ? test.CBC_WBC.Value.ToString("G") : "---")</td>
            
            
            <td id="center" style="text-align: center;">@(test.CBC_RBC.HasValue ? test.CBC_RBC.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.CBC_HGB.HasValue ? test.CBC_HGB.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.CBC_HCT.HasValue ? test.CBC_HCT.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.CBC_MCV.HasValue ? test.CBC_MCV.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.CBC_MCH.HasValue ? test.CBC_MCH.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.CBC_MCHC.HasValue ? test.CBC_MCHC.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.CBC_RDW_percent.HasValue ? test.CBC_RDW_percent.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.CBC_PLT.HasValue ? test.CBC_PLT.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.CBC_MPV.HasValue ? test.CBC_MPV.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.CBC_Neutrophils_percent.HasValue ? test.CBC_Neutrophils_percent.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.CBC_Neutrophils_Absolute.HasValue ? test.CBC_Neutrophils_Absolute.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.CBC_Lymphocytes_percent.HasValue ? test.CBC_Lymphocytes_percent.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.CBC_Lymphocytes_Absolute.HasValue ? test.CBC_Lymphocytes_Absolute.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.CBC_MonocytesAuto_percent.HasValue ? test.CBC_MonocytesAuto_percent.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.CBC_Monocytes_Absolute.HasValue ? test.CBC_Monocytes_Absolute.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.CBC_Eosinophils_percent.HasValue ? test.CBC_Eosinophils_percent.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.CBC_Eosinophils_Absolute.HasValue ? test.CBC_Eosinophils_Absolute.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.CBC_Basophils_percent.HasValue ? test.CBC_Basophils_percent.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.CBC_Basophils_Absolute.HasValue ? test.CBC_Basophils_Absolute.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.CMP_Glucose.HasValue ? test.CMP_Glucose.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.CMP_BUN.HasValue ? test.CMP_BUN.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.CMP_Creatinine.HasValue ? test.CMP_Creatinine.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.CMP_BUN_CreatinineRatio.HasValue ? test.CMP_BUN_CreatinineRatio.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.CMP_Sodium.HasValue ? test.CMP_Sodium.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.CMP_Potassium.HasValue ? test.CMP_Potassium.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.CMP_Chloride.HasValue ? test.CMP_Chloride.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.CMP_CO2.HasValue ? test.CMP_CO2.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.CMP_Calcium.HasValue ? test.CMP_Calcium.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.CMP_Protein_Total.HasValue ? test.CMP_Protein_Total.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.CMP_Albumin.HasValue ? test.CMP_Albumin.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.CMP_Globulin_Serum_Qn_Calc.HasValue ? test.CMP_Globulin_Serum_Qn_Calc.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.CMP_A_G_Ratio.HasValue ? test.CMP_A_G_Ratio.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.CMP_Bilirubin_Total.HasValue ? test.CMP_Bilirubin_Total.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.CMP_AlkalinePhosphatase.HasValue ? test.CMP_AlkalinePhosphatase.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.CMP_AST.HasValue ? test.CMP_AST.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.CMP_ALT.HasValue ? test.CMP_ALT.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.LipidPanel_Cholesterol.HasValue ? test.LipidPanel_Cholesterol.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.LipidPanel_Triglycerides.HasValue ? test.LipidPanel_Triglycerides.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.LipidPanel_HDL.HasValue ? test.LipidPanel_HDL.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.LipidPanel_VLDL.HasValue ? test.LipidPanel_VLDL.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.LipidPanel_LDL.HasValue ? test.LipidPanel_LDL.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.LipidPanel_CholesterolHDLRatio.HasValue ? test.LipidPanel_CholesterolHDLRatio.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.LipidPanel_NonHDLCholesterol.HasValue ? test.LipidPanel_NonHDLCholesterol.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.Magnesium.HasValue ? test.Magnesium.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.Tacrolimus.HasValue ? test.Tacrolimus.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.Uric_Acid_Serum.HasValue ? test.Uric_Acid_Serum.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.Phosphorus_Serum.HasValue ? test.Phosphorus_Serum.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.PTH_Intact.HasValue ? test.PTH_Intact.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.VitaminD.HasValue ? test.VitaminD.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.Cystatin_C_w_EstGFR_Serum.HasValue ? test.Cystatin_C_w_EstGFR_Serum.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.Free_T4.HasValue ? test.Free_T4.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.TSH.HasValue ? test.TSH.Value.ToString("G") : "---")</td>
            <td id="center" style="text-align: center;">@(test.HgB_A1C.HasValue ? test.HgB_A1C.Value.ToString("G") : "---")</td>
            
            
       
        </tr>
    }
    </tbody>
</table>
</div>


