@model Test

<h3>@Model.Number</h3>
<table class="table">
    <tr>
        <th>Number</th>
        <th>Date</th>
        <th>CBC_WBC</th>             <!-- The Headers-->
        <th>CBC_RBC</th>
        <th>CBC_HGB</th>
        <th>CBC_HCT</th>
        <th>CBC_MCV</th>
        <th>CBC_MCH</th>
        <th>CBC_MCHC</th>
        <th>CBC_RDW_percent</th>
        <th>CBC_PLT</th>
        <th>CBC_MPV</th>
        <th>CBC_Neutrophils_percent</th>
        <th>CBC_Neutrophils_Absolute</th>
        <th>CBC_Lymphocytes_percent</th>
        <th>CBC_Lymphocytes_Absolute</th>
        <th>CBC_MonocytesAuto_percent</th>
        <th>CBC_Monocytes_Absolute</th>
        <th>CBC_Eosinophils_percent</th>
        <th>CBC_Eosinophils_Absolute</th>
        <th>CBC_Basophils_percent</th>
        <th>CBC_Basophils_Absolute</th>
        <th>CMP_Glucose</th>
        <th>CMP_BUN</th>
        <th>CMP_Creatinine</th>
        <th>CMP_BUN_CreatinineRatio</th>
        <th>CMP_Sodium</th>
        <th>CMP_Potassium</th>
        <th>CMP_Chloride</th>
        <th>CMP_CO2</th>
        <th>CBMP_Calcium</th>
        <th>CMP_Protein_Total</th>
        <th>CMP_Albumin</th>
        <th>CMP_Globulin_Serum_Qn_Calc</th>
        <th>CMP_A_G_Ratio</th>
        <th>CMP_Bilirubin_Total</th>
        <th>CMP_AlkalinePhosphatase</th>
        <th>CMP_AST</th>
        <th>CMP_ALT</th>
        <th>LipidPanel_Cholesterol</th>
        <th>LipidPanel_Triglycerides</th>
        <th>LipidPanel_HDL</th>
        <th>LipidPanel_VLDL</th>
        <th>LipidPanel_LDL</th>
        <th>LipidPanel_CholesterolHDLRatio</th>
        <th>LipidPanel_NonHDLCholesterol</th>
        <th>Magnesium</th>
        <th>Tacrolimus</th>
        <th>Uric_Acid_Serum</th>
        <th>Phosphorus_Serum</th>
        <th>PTH_Intact</th>
        <th>VitaminD</th>
        <th>Cystatin_C_w_EstGFR_Serum</th>
        <th>Free_T4</th>
        <th>TSH</th>

    </tr>


    {
        <tr>
            
            <td>@Model.Number</td>
            <td>@Model.Date</td>
            <td>@Model.CBC_WBC</td>
            <td>@Model.CBC_RBC</td>
            <td>@Model.CBC_HGB</td>             
            <td>@Model.CBC_HCT</td>
            <td>@Model.CBC_MCV</td>
            <td>@Model.CBC_MCH</td>
            <td>@Model.CBC_MCHC</td>
            <td>@Model.CBC_RDW_percent</td>
            <td>@Model.CBC_PLT</td>
            <td>@Model.CBC_MPV</td>
            <td>@Model.CBC_Neutrophils_percent</td>
            <td>@Model.CBC_Neutrophils_Absolute</td>
            <td>@Model.CBC_Lymphocytes_percent</td>
            <td>@Model.CBC_Lymphocytes_Absolute</td>
            <td>@Model.CBC_MonocytesAuto_percent</td>
            <td>@Model.CBC_Monocytes_Absolute</td>
            <td>@Model.CBC_Eosinophils_percent</td>
            <td>@Model.CBC_Eosinophils_Absolute</td>
            <td>@Model.CBC_Basophils_percent</td>
            <td>@Model.CBC_Basophils_Absolute</td>
            <td>@Model.CMP_Glucose</td>
            <td>@Model.CMP_BUN</td>
            <td>@Model.CMP_Creatinine</td>
            <td>@Model.CMP_BUN_CreatinineRatio</td>
            <td>@Model.CMP_Sodium</td>
            <td>@Model.CMP_Potassium</td>
            <td>@Model.CMP_Chloride</td>
            <td>@Model.CMP_CO2</td>
            <td>@Model.CMP_Calcium</td>
            <td>@Model.CMP_Protein_Total</td>
            <td>@Model.CMP_Albumin</td>
            <td>@Model.CMP_Globulin_Serum_Qn_Calc</td>
            <td>@Model.CMP_A_G_Ratio</td>
            <td>@Model.CMP_Bilirubin_Total</td>
            <td>@Model.CMP_AlkalinePhosphatase</td>
            <td>@Model.CMP_AST</td>
            <td>@Model.CMP_ALT</td>
            <td>@Model.LipidPanel_Cholesterol</td>
            <td>@Model.LipidPanel_Triglycerides</td>
            <td>@Model.LipidPanel_HDL</td>
            <td>@Model.LipidPanel_VLDL</td>
            <td>@Model.LipidPanel_LDL</td>
            <td>@Model.LipidPanel_CholesterolHDLRatio</td>
            <td>@Model.LipidPanel_NonHDLCholesterol</td>
            <td>@Model.Magnesium</td>
            <td>@Model.Tacrolimus</td>
            <td>@Model.Uric_Acid_Serum</td>
            <td>@Model.Phosphorus_Serum</td>
            <td>@Model.PTH_Intact</td>
            <td>@Model.VitaminD</td>
            <td>@Model.Cystatin_C_w_EstGFR_Serum</td>
            <td>@Model.FreeT4</td>
            <td>@Model.TSH</td>
            <td>@Model.HgB_A1C</td>
        </tr>
    }
</table>
        
      
