@model Test

<h3 id="date-column">@Model.Date</h3>


<!-- The Headers for the Tests when viewed as one single test-->

 <table class="table">
    <tr class="fixed" id="test-table">
        <th id="date-column" class="text-left align-bottom">Date</th>
        <th class="text-center align-bottom">Number</th>


        <th class="twoLineHeader align-bottom">CBC<br>WBC</th>
        <th class="twoLineHeader align-bottom">CBC<br>RBC</th>
        <th class="twoLineHeader align-bottom">CBC<br>HGB</th>
        <th class="twoLineHeader align-bottom">CBC<br>HCT</th>
        <th class="twoLineHeader align-bottom">CBC<br>MCV</th>
        <th class="twoLineHeader align-bottom">CBC<br>MCH</th>
        <th class="twoLineHeader align-bottom">CBC<br>MCHC</th>
        <th class="twoLineHeader align-bottom">CBC<br>RDW%</th>
        <th class="twoLineHeader align-bottom">CBC<br>PLT</th>
        <th class="twoLineHeader align-bottom">CBC<br>MPV</th>
        <th class="twoLineHeader align-bottom">CBC<br>%<br>Neutrophils</th>
        <th class="twoLineHeader align-bottom">CBC<br>Absolute<br>Neutrophils</th>
        <th class="twoLineHeader align-bottom">CBC<br>%<br>Lymphocytes</th>
        <th class="twoLineHeader align-bottom">CBC<br>Absolute<br>Lymphocytes</th>
        <th class="twoLineHeader align-bottom">CBC<br>%<br>Monocytes</th>
        <th class="twoLineHeader align-bottom">CBC<br>Absolute<br>Monocytes</th>
        <th class="twoLineHeader align-bottom">CBC<br>%<br>Eosinophils</th>
        <th class="twoLineHeader align-bottom">CBC<br>Absolute<br>Eosinophils</th>
        <th class="twoLineHeader align-bottom">CBC<br>%<br>Basophils</th>
        <th class="twoLineHeader align-bottom">CBC<br>Absolute<br>Basophils</th>
        <th class="twoLineHeader align-bottom">CMP<br>Glucose</th>
        <th class="twoLineHeader align-bottom">CMP<br>BUN</th>
        <th class="twoLineHeader align-bottom">CMP<br>Creatinine</th>
        <th class="twoLineHeader align-bottom">CMP<br>BUN/Creat<br>Ratio</th>
        <th class="twoLineHeader align-bottom">CMP<br>Sodium</th>
        <th class="twoLineHeader align-bottom">CMP<br>Potassium</th>
        <th class="twoLineHeader align-bottom">CMP<br>Chloride</th>
        <th class="twoLineHeader align-bottom">CMP<br>CO2</th>
        <th class="twoLineHeader align-bottom">CMP<br>Calcium</th>
        <th class="twoLineHeader align-bottom">CMP<br>Total<br>Protein</th>
        <th class="twoLineHeader align-bottom">CMP<br>Albumin</th>
        <th class="twoLineHeader align-bottom">CMP<br>Glob.SerumQn<br>.Calc.G/DI</th>
        <th class="twoLineHeader align-bottom">CMP<br>A/G Ratio</th>
        <th class="twoLineHeader align-bottom">CMP<br>Total<br>Bilirubin</th>
        <th class="twoLineHeader align-bottom">CMP<br>Alkaline<br>Phosphatase</th>
        <th class="twoLineHeader align-bottom">CMP<br>AST</th>
        <th class="twoLineHeader align-bottom">CMP<br>ALT</th>
        <th class="twoLineHeader align-bottom">Lipid Panel<br>Cholesterol</th>
        <th class="twoLineHeader align-bottom">Lipid Panel<br>Triglycerides</th>
        <th class="text-center twoLineHeader align-bottom">Lipid Panel<br>HDL</th>
        <th class="twoLineHeader align-bottom">Lipid Panel<br>VLDL</th>
        <th class="twoLineHeader align-bottom">Lipid Panel<br>LDL</th>
        <th class="twoLineHeader align-bottom">Lipid Panel<br>Cholesterol<br>HDL Ratio</th>
        <th class="twoLineHeader align-bottom">Lipid Panel<br>Cholesterol<br>Non-HDL</th>
        <th class="center align-bottom">Magnesium</th>
        <th class="center align-bottom">Tacrolimus</th>
        <th class="text-center align-bottom">Uric Acid Serum</th>
        <th class="text-center align-bottom">Phosphorus Serum</th>
        <th class="text-center align-bottom">PTH Intact</th>
        <th class="text-center align-bottom">Vitamin D</th>
        <th class="text-center align-bottom">Cystatin C<br>w/EstGFR Serum</th>
        <th class="text-center align-bottom">Free T4</th>
        <th class="center align-bottom">TSH</th>
        <th class="text-center align-bottom">HgB A1C</th>

    </tr>

        <tr>
        <td id="date-column">@Model.Date.ToString("M-d-yy")</td>
        <td>@Model.Number</td>
        <td id="center" style="text-align: center;">@(Model.CBC_WBC.HasValue ? Model.CBC_WBC.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.CBC_RBC.HasValue ? Model.CBC_RBC.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.CBC_HGB.HasValue ? Model.CBC_HGB.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.CBC_HCT.HasValue ? Model.CBC_HCT.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.CBC_MCV.HasValue ? Model.CBC_MCV.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.CBC_MCH.HasValue ? Model.CBC_MCH.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.CBC_MCHC.HasValue ? Model.CBC_MCHC.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.CBC_RDW_percent.HasValue ? Model.CBC_RDW_percent.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.CBC_PLT.HasValue ? Model.CBC_PLT.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.CBC_MPV.HasValue ? Model.CBC_MPV.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.CBC_Neutrophils_percent.HasValue ? Model.CBC_Neutrophils_percent.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.CBC_Neutrophils_Absolute.HasValue ? Model.CBC_Neutrophils_Absolute.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.CBC_Lymphocytes_percent.HasValue ? Model.CBC_Lymphocytes_percent.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.CBC_Lymphocytes_Absolute.HasValue ? Model.CBC_Lymphocytes_Absolute.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.CBC_MonocytesAuto_percent.HasValue ? Model.CBC_MonocytesAuto_percent.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.CBC_Monocytes_Absolute.HasValue ? Model.CBC_Monocytes_Absolute.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.CBC_Eosinophils_percent.HasValue ? Model.CBC_Eosinophils_percent.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.CBC_Eosinophils_Absolute.HasValue ? Model.CBC_Eosinophils_Absolute.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.CBC_Basophils_percent.HasValue ? Model.CBC_Basophils_percent.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.CBC_Basophils_Absolute.HasValue ? Model.CBC_Basophils_Absolute.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.CMP_Glucose.HasValue ? Model.CMP_Glucose.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.CMP_BUN.HasValue ? Model.CMP_BUN.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.CMP_Creatinine.HasValue ? Model.CMP_Creatinine.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.CMP_BUN_CreatinineRatio.HasValue ? Model.CMP_BUN_CreatinineRatio.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.CMP_Sodium.HasValue ? Model.CMP_Sodium.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.CMP_Potassium.HasValue ? Model.CMP_Potassium.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.CMP_Chloride.HasValue ? Model.CMP_Chloride.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.CMP_CO2.HasValue ? Model.CMP_CO2.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.CMP_Calcium.HasValue ? Model.CMP_Calcium.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.CMP_Protein_Total.HasValue ? Model.CMP_Protein_Total.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.CMP_Albumin.HasValue ? Model.CMP_Albumin.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.CMP_Globulin_Serum_Qn_Calc.HasValue ? Model.CMP_Globulin_Serum_Qn_Calc.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.CMP_A_G_Ratio.HasValue ? Model.CMP_A_G_Ratio.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.CMP_Bilirubin_Total.HasValue ? Model.CMP_Bilirubin_Total.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.CMP_AlkalinePhosphatase.HasValue ? Model.CMP_AlkalinePhosphatase.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.CMP_AST.HasValue ? Model.CMP_AST.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.CMP_ALT.HasValue ? Model.CMP_ALT.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.LipidPanel_Cholesterol.HasValue ? Model.LipidPanel_Cholesterol.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.LipidPanel_Triglycerides.HasValue ? Model.LipidPanel_Triglycerides.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.LipidPanel_HDL.HasValue ? Model.LipidPanel_HDL.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.LipidPanel_VLDL.HasValue ? Model.LipidPanel_VLDL.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.LipidPanel_LDL.HasValue ? Model.LipidPanel_LDL.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.LipidPanel_CholesterolHDLRatio.HasValue ? Model.LipidPanel_CholesterolHDLRatio.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.LipidPanel_NonHDLCholesterol.HasValue ? Model.LipidPanel_NonHDLCholesterol.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.Magnesium.HasValue ? Model.Magnesium.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.Tacrolimus.HasValue ? Model.Tacrolimus.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.Uric_Acid_Serum.HasValue ? Model.Uric_Acid_Serum.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.Phosphorus_Serum.HasValue ? Model.Phosphorus_Serum.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.PTH_Intact.HasValue ? Model.PTH_Intact.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.VitaminD.HasValue ? Model.VitaminD.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.Cystatin_C_w_EstGFR_Serum.HasValue ? Model.Cystatin_C_w_EstGFR_Serum.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.Free_T4.HasValue ? Model.Free_T4.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.TSH.HasValue ? Model.TSH.Value.ToString("G") : "---")</td>
        <td id="center" style="text-align: center;">@(Model.HgB_A1C.HasValue ? Model.HgB_A1C.Value.ToString("G") : "---")</td>

        </tr>
    
 
    </table>

    


<div style="display: block">
    <a href="/Test/UpdateTest?Number=@Model.Number">Update this Test</a>
</div>

<div style="display: block">

    @using (Html.BeginForm("DeleteTest", "Test", "Post"))
    {
        <input type="hidden" asp-for="Number" value="@Model.Number" />
        <input type="submit" onclick="return confirm('WARNING: This will DELETE the date and ALL TESTS for that date!')" value="Delete this test" />
    }
</div>